.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--main);
  font-size: 16px;
}
.auth__wrapper {
  border: 4px solid var(--color-border-dark);
  padding: 16px;
  min-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}
.auth__title {
  color: var(--lightBg);
  margin: 0 0 10px 0;
}
.auth__container__input {
  margin-bottom: 16px;
}
.auth__button:focus,
.auth__input:focus {
  outline: none;
}

.ant-form-item-label {
  color: var(--lightBg);
}

.auth__input,
.auth__button {
  min-width: 250px;
}
.auth__input {
  padding: 10px 20px;
  border: 2px solid var(--color-border-dark);
  background-color: transparent;
  color: var(--lightBg);
}

.auth__button {
  border: none;
  border: 2px solid var(--color-border-dark);
  background-color: transparent;
  color: var(--white);
  padding: 12px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.auth__wrapper-button {
  display: flex;
  justify-content: center;
}
.auth__button:hover {
  background-color: var(--mainHover);
}

.auth__link {
  color: var(--link);
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
}

.auth__link:hover {
  color: var(--link-hover);
}
