.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--main);
}
.auth__wrapper {
  border: 2px solid var(--color-border-dark);
  padding: 16px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}
.auth__title {
  color: var(--lightBg);
}
.auth__container__input {
  margin-bottom: 10px;
}
.auth__button:focus,
.auth__input:focus {
  outline: none;
}
.auth__input {
  padding: 4px 10px;
  border: 1px solid var(--purple-border);
  min-width: 150px;
}
.auth__button {
  border: none;
  border: 1px solid var(--purple-border);
  background-color: transparent;
  color: var(--white);
  padding: 5px 12px;
  cursor: pointer;
}

.auth__wrapper-button {
  display: flex;
  justify-content: center;
}
.auth__button:hover {
  background-color: var(--mainHover);
}
