*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  //Переменные
  --black: #1e1e1e;
  --main: #40375c;
  --grey: #6c6c6d;
  --light: #f3f1fa;
  --mainHover: #6b5ba0;
  --white: #fff;
  --link: #c2b780;
  --link-hover: #f0e29e;
  --purple-border: #48397a;
  --error: #ce5353;
  --errorHover: #e47070;
  --hoverTime: 0.15s;
  --border: #c2ba92;
  --board: #ebe8e9;
  --lightBg: #d2cdde;
  --tooltipBg: #fcfcfd;

  --color-gold: #c2ba92;
  --color-light-purple: #9286b7;
  --color-border-dark: #5e5087;

  --size-text-5xl: 72px;
  --size-text-4xl: 48px;
  --size-text-l: 18px;
  --size-text-m: 16px;
  --size-text-s: 14px;
}

body {
  color: var(--black);
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
}

#root {
  height: 100%;
}

address {
  font-style: normal;
}

img {
  height: auto;
  max-width: 100%;
}

label {
  cursor: pointer;
  user-select: none;
}

textarea {
  resize: vertical;
}

input[placeholder] {
  text-overflow: ellipsis;
}

input::placeholder {
  text-overflow: ellipsis;
}

input:input-placeholder {
  text-overflow: ellipsis;
}

:focus::input-placeholder {
  color: transparent;
}

:focus::placeholder {
  color: transparent;
}

.content {
  height: 100%;
}

.dark {
  background-color: var(--main);
}

.light {
  background-color: var(--light);
}

.full-screen {
  height: 100vh;
}

.content {
  overflow: hidden;
}

.page {
  height: 100%;
}

.js-focus-visible:focus:not(.focus-visible) {
  outline: none;
}

.index-links {
  font-size: 1.2rem;
  padding: 0;

  a {
    font-size: 1.6rem;
  }
}
