.message {
  background: var(--color-shadow-purple);
  padding: 10px 20px 20px;
  font-size: var(--size-text-s);
  margin-right: 30px;
  color: var(--color-gold);

  &_offset {
    margin-right: 0;
    margin-left: 30px;
  }

  &__author {
    font-size: var(--size-text-xs);
    color: var(--grey);
  }
}
