.button-component {
  width: 100%;
  padding: 12px 20px;
  color: var(--white);
  background-color: transparent;
  border: 2px solid var(--color-border-dark);
  cursor: pointer;

  &:hover {
    background-color: var(--mainHover);
  }

  &__disabled {
    opacity: 0.5;

    &:hover {
      background-color: inherit;
    }
  }
}
